<!-- START FOOTER -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-title">
                    <h3>Gia Sư cao cấp Bảo Trang</h3>
                </div>
                <ul class="footer-ul">
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Cơ sở 1 - số 18 Lê Thánh Tông, Hoàn Kiếm, Hà Nội.</li>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Cơ sở 2 - số 56A , Mỹ Đình, Nam Từ Liêm, Hà Nội.</li>
                    <li><i class="fa fa-map-marker" aria-hidden="true"></i> Cơ sở 3 -  số 152 Nguyễn An Ninh, Hoàng Mai, Hà
                    </li>

                    <li><i class="fa fa-mobile" aria-hidden="true"></i> Hotline (24/7): 038.307.0388 </li>
                    <li><i class="fa fa-envelope-o" aria-hidden="true"></i> Email: giasusuphamtainha.hn@gmail.com</li>
                </ul>

                <div class="footer-social">
                    <ul>
                        <li><a href="https://facebook.com" title="https://facebook.com" target="_blank"><i
                                    class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="https://youtube.com" title="https://youtube.com" target="_blank"><i
                                    class="fa fa-youtube" aria-hidden="true"></i></a></li>
                        <li><a href="https://plus.google.com/?hl=vi" title="https://plus.google.com/?hl=vi"
                                target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4">
                <div class="footer-title">
                    <h3>GIA SƯ TẠI NHÀ - LỚP HỌC TẠI TRUNG TÂM</h3>
                </div>
                <ul id="menu-footer-menu" class="footer-dv">
                    <% categories.forEach(function(category){ %>
                        <li id="<%= category.id %>"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-134"><a
                            href="<%= category.id %>"><%= category.name %></a>
                    <% }) %>
                        <li id=""
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-134"><a
                                href="/">Gia sư môn hoá</a>
                        </li>
                        <li id=""
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-134"><a
                                href="/">Gia sư môn lý</a>
                        </li>
                        <li id=""
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-134"><a
                                href="/">Gia sư môn văn</a>
                        </li>
                        <li id=""
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-134"><a
                                href="/">Gia sư môn anh</a>
                        </li>
                        <li id=""
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-134"><a
                                href="/">Gia sư môn tiểu học</a>
                        </li>
                        <li id=""
                            class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-134"><a
                                href="/">Gia sư môn luyện chữ đẹp</a>
                        </li>
                    <!-- <li id="menu-item-135"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-135"><a
                            href="http://giasutamduc.net/category/danh-muc-gia-su/gia-su-cap-2/">Gia sư cấp 2</a>
                    </li>
                    <li id="menu-item-136"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-136"><a
                            href="http://giasutamduc.net/category/danh-muc-gia-su/gia-su-cap-3/">Gia sư cấp 3</a>
                    </li>
                    <li id="menu-item-138"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-138"><a
                            href="http://giasutamduc.net/category/danh-muc-gia-su/gia-su-ngoai-ngu/">Gia sư ngoại
                            ngữ</a></li>
                    <li id="menu-item-137"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-137"><a
                            href="http://giasutamduc.net/category/danh-muc-gia-su/gia-su-nang-khieu/">Gia sư năng
                            khiếu</a></li>
                    <li id="menu-item-417"
                        class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-417"><a
                            href="http://giasutamduc.net/category/danh-muc-gia-su/">Danh mục gia sư</a></li> -->
                </ul>
            </div>

            <div class="col-md-4">
                <div class="footer-title">
                    <h3>BẢN ĐỒ</h3>
                </div>
                <div class="map">
                    <div class="embed-responsive embed-responsive-16by9">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3724.975514788208!2d105.8406703144353!3d20.99361859435393!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3135ac6eddb8a095%3A0x7b7a551e1f1c9833!2zMTUyIE5ndXnhu4VuIEFuIE5pbmgsIMSQ4buTbmcgVMOibSwgSG_DoG5nIE1haSwgSMOgIE7hu5lpLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1523614471578" width="100%" height="100%" frameborder="0" style="border:0" allowfullscreen=""></iframe>
                    </div>
                </div>
            </div>
        </div>

        <div class="copyright row">
            <div class="col-md-6">
                <span>© Copyright 2019 All rights reserved. By <a href="/">Gia Sư cao cấp Bảo Trang</a></span>
            </div>

            <div class="col-md-6 text-right">
                <span class="other">Developed by <a href="tel:0383070388" title="NamTH">NamTH</a></span>
            </div>
        </div>
    </div>
</footer>
<!-- END FOOTER -->

<div class="fb-fixed fixed-bottom" style="left: 33px;bottom: 160px;">
    <a href="https://m.me/2045047062445497" target="_blank" id="messenger" class="pr-2" data-toggle="tooltip" data-placement="right" title="Chat ngay để nhận tư vấn">
        <img src="/images/widget_icon_messenger.svg" style="width: 47px;" alt="" />
    </a>
</div>

<div class="fb-fixed fixed-bottom" style="left: 33px;bottom: 100px;">
    <a href="https://zalo.me/0383070388" target="_blank" id="zalo" class="pr-2" data-toggle="tooltip" data-placement="right" title="Chat với chúng tôi qua Zalo">
        <img src="/images/widget_icon_zalo.svg" style="width: 47px;" alt="" />
    </a>
</div>

<div class="phone_fixed">
        <a href="tel:0383070388" title="038.307.0388">
            <div class="alo-phone">
                <div class="animated infinite zoomIn alo-ph-circle"></div>
                <div class="animated infinite pulse alo-ph-circle-fill"></div>
                <div class="animated infinite tada alo-ph-img-circle"></div>
                <span>038.307.0388</span>
            </div>
        </a>

    </div>